name: CI

on:
  push:
    branches: [ "vue" ]
  pull_request:
    branches: [ "vue" ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        node: [16]


    steps:

      - uses: actions/checkout@v3

      - name: Setup node
        uses: actions/setup-node@v2.1.2
        with:
          node-version: ${{ matrix.node }}

      - name: Run a multi-line script
        run: |
          npm install
          npm run lint
          npm run build
